body {
       background-image: url('https://raw.githubusercontent.com/PeterJahnes/peterjahnes.github.io/master/imgs/stockvault-driving-at-speed-of-light137559.jpg');
       background-repeat: no-repeat;
	   background-attachment: fixed;
	   background-size: 100%;
    }
    header {
        border: solid navy;
        background-color: cyan;
        text-align: center;
        width: 900px;
        margin: 0 auto;
        padding: 20px 0px;
        }
    h1 {
        font-weight: bold;
        text-decoration: underline;}
    h2 {
        font-weight:  bold;
        font-style:   italic;
        }
    h3 {
        font-weight: bold; 
        font-family: verdana;
        }
    #main  {
        border: solid black 3px;
        background-color: cyan;
        width: 780px;
        margin: 50px auto 50px auto;
        padding: 20px 20px 20px 100px;
            }