html{border: double;font-style: 33px; color: navy blue;}
body{background-color: gray;
	 margin: auto;
	 background-repeat: no-repeat;
	 background-attachment: fixed;}
}

.image { background-color: navy blue;
   position: relative; 
   width: 50%; /* for IE 6 */
}

h1{position: absolute;
	background-color: #A0B0E0
	
}
iframe { 
   position: relative; 
   top: 9.375em; 
   left: 7.5em; 
   width: 75%; 
}
.sidebar{position: relative;
		 float:right;
		 left:12.5em;
		 top: 6.25em}
.image1{position: relative;
		top: 300px;
		width: 15%;
		left:420px;
		border-style: double;
		border-color: black;}
ul{position: absolute right;
	float: right;
font-family: fantasy;
color:#9A1876; 
font-size: 34px;
background-color: #A0B0E0 }

